<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {css href="_BS_/css/bootstrap.css" /}
  {css href="_CSS_/index.css" /}
  {css href="_CSS_/foot.css" /}
  {css href="_CSS_/main.css" /}
  {css href="_CSS_/head.css" /}
  {css href="_CSS_/prodList.css" /}
  {css href="_FONT_/font-awesome.css" /}
  
  {js href="_JS_/jquery.min.js" /}
  {js href="_BS_/js/bootstrap.js" /}
  <title>智付商城</title>
  <link rel="icon" type="image/x-icon" href="_IMG_/money.png" />
</head>

<body>
<div id="common_head">
  <div class="line1">
    <div class="content">
      <ul>
        {empty name="Think.cookie.id"}
        <li >
          <span >
            <a href="/index/Login/login">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/index/User/register">注册</a>
          </span>
        </li>
        {else /}
        <li>
          <span >
            <a href="/index/User/userpage">用户中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/index/User/logout">退出登录</a>
          </span>
        </li>
        {/empty}
      </ul>
    </div>
  </div>
  <div class="line2" id="nav-top">
    <a href="/index/User/index"><img id="logo" src="_IMG_/logo.png" alt="logo"/></a>
    <input type="text" value="" id="s1"/>
    <input type="submit" value="搜 索" onclick="search()" />
    <span id="goto">
			<a id="goto_order" href="/index/User/order">我的订单</a>
			<a id="goto_cart" href="/index/User/spcart"><i class="fa fa-shopping-cart"></i>我的购物车</a>
		</span>
  </div>
</div>
<div class="warp order-info">

  <form >
  <div class="trade-info">
    <div class="trade-title">
      <p>物流信息</p>
    </div >
    <div class="express">
      {volist name='data' id='logistics' length='1' empty="$empty"}
      运单号码：<span>{$logistics.serialnum}</span>
      物流公司：<span>{if $logistics.expressname == 'HTKY'}百世快递{/if}
                      {if $logistics.expressname == 'STO'}申通快递{/if}
                      {if $logistics.expressname == 'YTO'}圆通快递{/if}
                      {if $logistics.expressname == 'HHTT'}天天快递{/if}
               </span>
      {/volist}
    </div>

    <ul>
      {volist name='traces' id='traces'}
      <li class="table-list">
        <span class="accepttime">{$traces.AcceptTime}</span>
        <span class="acceptstation">{$traces.AcceptStation}</span>
      </li>
      {/volist}
    </ul>
  </div>
  </form>

  <form >
    <div class="trade-info">
      <div class="trade-title">
        <p>订单详情</p>
      </div >
      <ul>
        {volist name='data' id='od' length='1'}
        <li class="table-list">收货人：{$od.username}   {$od.phone}</li>
        <li class="table-list">收货地址：{$od.address}</li>
        <li class="table-list">订单号：{$od.pid}</li>

        {/volist}
      </ul>
      <table id="ordertable" cellpadding="0" cellspacing="0">
        <tr>
          <th width="276">我的宝贝</th>
          <th width="247">单价</th>
          <th width="179">数量</th>
          <th width="132">折扣</th>
          <th width="132">小计</th>
          <th width="232">状态</th>
        </tr>
        {volist name='data' id='od'}
        <tr class="order_lists">
          <input type="hidden" class="commodity" id="{$od.id}"/>
          <td>
            <div class="info-detail">
              <a class="img-box" href="javascript:" onclick="secommodity('{$od.cid}')">
                <img src="{$od.img}" alt="" class="info-img">
              </a>
              <div class="info-msg">
                <a href="javascript:" onclick="secommodity('{$od.cid}')" title="{$od.cname}"><div class="info-title">{$od.cname}</div></a>
              </div>
              <div class="spe-info"><p>{$od.specification}</p></div>
            </div>
          </td>
          <td>{$od.price}</td>
          <td>{$od.number}</td>
          <td>{$od.discount}</td>
          <td id="totalprice">{$od.totalprice}</td>
          <td>{$od.status}</td>
        </tr>
        {/volist}
      </table>
      <div class="Order_price">
        <div class="box_wrapper bw">
          <div class="box_shadow">
            <div>
              <span class="realpay-title">实付款:</span>
              <div id="total_money"></div>
            </div>

          </div>
        </div>
      </div>
      <div class="add_orderbox">
        <a href="/index/User/order" class="op-return" ><i class="fa fa-angle-left"></i>返回订单</a>
      </div>
    </div>
  </form>
</div>
  
  <div id="common_foot">
    <p>
      Copyright © 2020-2021 智付商城 版权所有 保留一切权利
    </p>
  </div>
</body>
<script>
  //totalMoney
  let total = 0;
  let commodity = $('.commodity');
  commodity.each(function () {
    var goods = parseFloat($(this).parents('.order_lists').find('#totalprice').html());
    total += goods;

  });
  $('#total_money').html('￥' +total);
</script>
<script>
  function search(){
    let content = document.getElementById("s1");
    let value = content.value;
    window.location = '{:url("Commodity/search")}' + '?value=' + value;
  }
  function secommodity(id) {
    window.location = '{:url("Commodity/commodityinfo")}' + '?id=' + id;
  }
</script>
</html>