<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {css href="_BS_/css/bootstrap.css" /}
  {css href="_CSS_/index.css" /}
  {css href="_CSS_/foot.css" /}
  {css href="_CSS_/main.css" /}
  {css href="_CSS_/head.css" /}
  {css href="_CSS_/prodList.css" /}
  {css href="_CSS_/swiper-bundle.css" /}
  {css href="_FONT_/font-awesome.css" /}
  
  {js href="_JS_/jquery.min.js" /}
  {js href="_BS_/js/bootstrap.js" /}
  {js href="_JS_/swiper-bundle.js" /}
  
  <title>智付商城</title>
  <link rel="icon" type="image/x-icon" href="_IMG_/money.png"/>
</head>

<body>
<div id="common_head">
  <div class="line1">
    <div class="content">
      <ul>
        {empty name="Think.cookie.id"}
        <li>
          <span>
            <a href="/index/Login/login">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/index/User/register">注册</a>
          </span>
        </li>
        {else /}
        <li>
          <span>
            <a href="/index/User/userpage">用户中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/index/User/logout">退出登录</a>
          </span>
        </li>
        {/empty}
      </ul>
    </div>
  </div>
  <div class="line2">
    <img id="logo" src="_IMG_/logo.png" alt="logo"/>
    <input type="text" value="" id="s1"/>
    <input type="submit" value="搜 索" onclick="search()"/>
    {empty name="Think.cookie.id"}
    <span id="goto">
			<a id="goto_order" href="javascript:">我的订单</a>
			<a id="goto_cart" href="javascript:"><i class="fa fa-shopping-cart"></i>我的购物车</a>
		</span>
    {else /}
    <span id="goto2">
			<a id="goto_order2" href="/index/User/order">我的订单</a>
			<a id="goto_cart2" href="/index/User/spcart"><i class="fa fa-shopping-cart"></i>我的购物车</a>
		</span>
    {/empty}
    <img id="erwm" src="_IMG_/head/e2.png" alt="e2" width="76"/>
  </div>
  <div class="line3">
    <div class="content">
      <ul>
        <li><a href="/index/User/index">首页</a></li>
        <li><a href="/index/Commodity/commodityall">全部商品</a></li>
        <li><a href="/index/Commodity/discount">折扣商品</a></li>
        {volist name='TypeData' id='type'}
        <li><a href="javascript:" id="typename" onclick="selist({$type.id})">{$type.typename}</a></li>
        {/volist}
      </ul>
    </div>
  </div>
</div>

<div id="index">
  <div class="main-contain">
    <div class="c_title">
      <h3>商品列表</h3>
    </div>
    <div id="line6">
      {volist name='commodityData' id='commodity'}
      <div class="block1"><a href="javascript:" onclick="secommodity({$commodity.id})" id="commodity" target="_blank">
        <div class="img-wrapper">
          <img src="{$commodity.img}" alt="">
        </div>
        <h5>{$commodity.cname}</h5>
      </a>
        <p class="info">
          <span class="price_red r1">￥{$commodity.price}</span>
          <span class="price">￥{$commodity.discountprice}</span>
        </p>
      </div>
      {/volist}
    </div>
  </div>
  
  <div id="line5">
			<span id="line5_1">
				<img src="_IMG_/index/icon_g1.png" alt="icon_g1"/>&nbsp;&nbsp;5星好评 质量保证
			</span>
    <span id="line5_2">
				<img src="_IMG_/index/icon_g2.png" alt="icon_g2"/>&nbsp;&nbsp;7天退货 15天换货
			</span>
    <span id="line5_3">
				<img src="_IMG_/index/icon_g3.png" alt="icon_g3"/>&nbsp;&nbsp;100元起免运费
			</span>
    <span id="line5_4">
				<img src="_IMG_/index/icon_g4.png" alt="icon_g4"/>&nbsp;&nbsp;维修网点 全国联保
			</span>
  </div>
</div>
<div class="fixed">
  <a href="/index/User/spcart">
    <img src="_IMG_/head/qr.jpg" width="100" alt="qrcode"/>
  </a>
  <a href="#common_head" class="toTop">
  </a>

</div>
<div id="common_foot">
  <p>
    Copyright © 2020-2021 网上商城 版权所有 保留一切权利
  </p>
</div>
</body>
<script>
  let d1 = document.getElementById("goto_order");
  d1.onclick = function () {
    alert("请先登录一下吧！");
    window.location = '/index/Login/userlogin'
  }
  
  let d2 = document.getElementById("goto_cart");
  d2.onclick = function () {
    alert("请先登录一下吧！");
    window.location = '/index/Login/userlogin'
  }
  
  function selist(id) {
    window.location = '{:url("Commodity/commoditylist")}' + '?id=' + id;
  }
  
  function secommodity(id) {
    window.location = '{:url("Commodity/commodityinfo")}' + '?id=' + id;
  }
  
  function search() {
    let content = document.getElementById("s1");
    let value = content.value;
    window.location = '{:url("Commodity/search")}' + '?value=' + value;
  }
</script>
</html>